* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: tan;
}

#logo {
  text-align: center;
  margin-top: 0;
}

.nav {
  text-align: center;
  display: flex;
}

.nav li {
  flex: 1;
  display: inline;
}

/* use media query to change the layout */
@media (min-width: 768px) {
  body {
    background-color: #f2f2f2;
  }

  .nav li:nth-child(1),
  .nav li:nth-child(2),
  .nav li:nth-child(3) {
    float: none;
  }

  .nav li:nth-child(4),
  .nav li:nth-child(5),
  .nav li:nth-child(6) {
    float: none;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.mainimage {
  max-width: 100%;
  height: auto;
}

.aboutimage {
  max-width: 15%;
  max-height: 15%;
}
